.wrapper {
	width: 80%;
	margin: 0 auto;
}

em {
    font-size: 0.8em;
}

header {
	position: fixed;
	padding: 30px 0;
	top: 0;
	right: 0;
	left: 0;
	color: white;
	background-color: #171717;
}

header nav {
	display: none;
	padding-top: 30px;
}

header li {
	
	list-style: none;
	padding: 10px;
	margin: 0;
}

header li a:link, header li a:visited  {
	text-decoration: none;
	color: white;
}

header li a:hover, header li a:active  {
	text-decoration: underline;
	color: white;
}

header li a {
	text-decoration: none;
	color: white;
}

section.intro {
	height: 100vh;
	margin:0;
	padding:0;
	color: white;
	background: url(http://localhost:8888/blog/public/images/bg-cover.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.intro-inner-page {
	height: 40vh;
	margin:0;
	padding: 90px 0 0 0;
	color: white;
	background: url(http://localhost:8888/blog/public/images/bg-cover.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.hauteur100 {
	height: 100vh;
}

article {
	padding: 10px;
	-webkit-box-shadow: 0px 0px 52px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 52px -25px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 52px -25px rgba(0,0,0,0.75);
}

article .content {
    max-height: 200px;
     overflow: hidden;
  text-overflow: ellipsis; 
}

.comment {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #F4F4F4;
}

#button-write{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

footer {
	padding: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
}

footer a:link, footer a:visited  {
	text-decoration: none;
	color: white;
}

footer a:hover, footer a:active  {
	text-decoration: underline;
	color: white;
}